<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h1>Add data to mine block</h1>
        <form method="POST">
            <div class="form__fieldset">
                <label for="data" class="form__label">Enter data (string):</label>
                <input type="text" name="data" id="data" class="form__input" />
            </div>

            <div class="form__fieldset">
                <input class="form__submit form__input" type="submit" value="Add block" />
            </div>
        </form>
    </body>
</html>