<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div>
            <a href="/" class="blockchain__links">Home</a>
            <a href="/mine_block" class="blockchain__links">Mine block</a>
            <a href="/view_blockchain" class="blockchain__links">View blockchain</a>
            <a href="/validate_blockchain" class="blockchain__links">Validate blockchain</a>
        </div>
        <h1>Validate block chain</h1>
        <p>{{ entries }}</p>
    </body>
</html>