<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Elementary Blockchain | Himalaya Sharma</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
    <a class="github_link" href="https://github.com/himalayasharma/elementary-blockchain" target="_blank">View Github repo</a>
    <img src="/static/logo.png">
    <p>A blockchain consists of a growing list of records, called blocks, that are securely linked together using cryptographic hashes. In my demonstration each block contains:</p>
        <ol>
            <li>Index – keeps track of the number of blocks in the blockchain</li>
            <li>Timestamp –  proves that the transaction data existed when the block was created</li>
            <li>Proof – contains proof of work</li>
            <li>Data – string of characters (usually transaction data is stored but to keep things simple I’ve designed it to store strings)</li>
            <li>Cryptographic hash – of the previous block (since each block contains information about the block previous to it they effectively form a chain similar to a linked list structure)</li>
        </ol>
    <h2>Mine block</h2>
    <form action="/" method="POST">
        <p>Enter data (string): </p>
        <br>
        <input type="text" name="data_input">
        <br>
        <input name="action" type="submit" value="Create block" id="create_block">
    </form>
    <h2>Validity status</h2>
        <p>{{ validity_status }}</p>
    <h2>Current blockchain</h2>
        {% for block in blockchain %}
        <p>{{ block }}</p>
        {% endfor %}
    <h2>Modify block</h2>
    <form action="/" method="POST">
        <p>Enter index (int): </p>
        <br>
        <input type="text" name="index_input">
        <br>    
        <p>Enter new data (string): </p>
        <br>
        <input type="text" name="modified_data_input">
        <br>
        <input name="action" type="submit" value="Update block" id="update_block">
    </form>
</body>
<hr>
<footer>
    <center><p>© 2022 <a href="https://github.com/himalayasharma" style="text-decoration: none;">Himalaya Sharma</a></p><br></center>
</footer>  
</html>