<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <img src="/static/logo.png">
    <h2>Mine block</h2>
    <form action="/" method="POST">
        <p>Enter data (string): </p>
        <br>
        <input type="text" name="data_input">
        <br>
        <input type="submit" value="Create block" id="create_block">
    </form>
    <h2>Validity status</h2>
        <p>{{ validity_status }}</p>
    <h2>Current blockchain</h2>
        {% for block in blockchain %}
        <p>{{ block }}</p>
        {% endfor %}
</body>
</html>