<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Elementary Blockchain | Himalaya Sharma</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
    <a class="github_link" href="https://github.com/himalayasharma/elementary-blockchain" target="_blank">View Github repo</a>
    <img src="/static/logo.png">
    <p>A blockchain consists of a growing list of records, called blocks, that are securely linked together using cryptographic hashes. In my demonstration each block contains:</p>
        <ol>
            <li>Index – keeps track of the number of blocks in the blockchain.</li>
            <li>Timestamp –  proves that the transaction data existed when the block was created.</li>
            <li>Proof – contains proof of work. It is a consensus algorithm that is used to confirm the transaction and is used to create a new block to the chain.</li>
            <li>Data – string of characters (usually transaction data is stored but to keep things simple I’ve designed it to store strings).</li>
            <li>Cryptographic hash – of the previous block. Since each block contains information about the block previous to it, they effectively form a chain similar to a linked list structure.</li>
        </ol>
    <h2>Mine block</h2>
    <p>New data (which is usually a transaction) is compiled into a new block that has to be mined. Proof of Work (PoW) algorithm generates a target hash. Miners (which are many in a legitimate blockchain, but only you in this case) races to find a hash value that matches this target hash.
        <br>
        <br>
    In this demonstration, if first 4 hex-digits of hash computed by miner (i.e. you) is "0000" then that miner wins and appends this block to the existing chain. </p>
    <form action="/" method="POST">
        <p>Enter data (string): </p>
        <br>
        <input type="text" name="data_input">
        <br>
        <input name="action" type="submit" value="Create block" id="create_block">
    </form>
    <h2>Validity status</h2>
    <p> Two conditions are checked for validating the blockchain:</p>
    <ol>
        <li>Hash is computed for each block and matched against the hash contained in the next block (which points to the previous one). If they both match then the first check is passed.</li>
        <li>First 4 hex-digits of hash of each block is checked. If it is equal to "0000", then the second check is also passed.</li>
    </ol>
        <p style="background-color:lavender;">{{ validity_status }}</p>
    <h2>Current blockchain</h2>
    <p>This is how the blockchain looks like currently. Each block is stored as a dictionary.</p>
    <p>NOTE: The first block i.e. Genesis block is created by default and is the starting point for the chain.</p>
    <br>
        {% for block in blockchain %}
        <p style="background-color:lavender;">{{ block }}</p>
        {% endfor %}
    <h2>Modify block</h2>
    <form action="/" method="POST">
        <p>Enter index (int): </p>
        <br>
        <input type="text" name="index_input">
        <br>    
        <p>Enter new data (string): </p>
        <br>
        <input type="text" name="modified_data_input">
        <br>
        <input name="action" type="submit" value="Update block" id="update_block"><p>{{ request_type }}</p>
        <br>
        <input name="action" type="submit" value="Reset blockchain" id="reset_block">
    </form>
</body>
<hr>
<footer>
    <center><p>© 2022 <a href="https://github.com/himalayasharma" style="text-decoration: none;">Himalaya Sharma</a></p><br></center>
</footer>  
</html>